* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(bg.png);

  background-size: cover;
  /* background-color: rgba(245, 10, 10, 0.253); */
}

nav > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: red;
  font-weight: 700;
  font-size: 70px;
  text-shadow: 3px 3px sandybrown;
}

h1 {
  text-align: center;
  color: rgb(255, 38, 0);
  font-weight: 700;
  font-size: 45px;
  border: 2px double black;
}

h2 {
  margin-top: 5px;
  text-align: center;
  color: rgb(240, 224, 230);
  font-weight: 900;
  font-size: 50px;
  background-color: rgb(65, 62, 62);
  border: 1px solid black;
  border-radius: 30%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn,
#btn1 {
  width: 200px;
  margin: 20px;
  padding: 10px;
  font-size: 22px;
  color: rgb(71, 17, 44);
  font-weight: 730;
  border-radius: 40px;
  left: 20px;

  border-style: double;
}

#ig,
#ig2 {
  margin-left: 30px;
  margin-top: 20px;
}

.lg {
  margin-left: 90px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: blanchedalmond;
}

#id15,
#id37 {
  background-color: rgb(248, 14, 14);
}
#id22,
#id40 {
  background-color: chartreuse;
}

#start-btn {
  width: 260px;
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  margin-bottom: 5px;
}

#instructions {
  width: 260px;
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  background-color: blanchedalmond;
}

#next {
  position: relative;
  margin: 20px;
  padding: 10px;
  font-size: 35px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  text-align: center;
  left: 320px;
  top: 400px;
}

#player {
  display: flex;
  justify-content: space-evenly;
}

article > .ig {
  border: 1px solid black;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 500px;
  height: 450px;
  z-index: 3;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.popup #close-btn {
  cursor: pointer;
  position: absolute;
  left: 160px;
  bottom: 30px;
  width: 230px;
  height: 30px;
  background: #222;
  color: rgb(235, 12, 12);
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 30%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

#popup {
  margin-top: 2px;
  width: 300px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  color: rgb(58, 4, 31);
  font-weight: 700;
  border-radius: 40px;
  text-decoration-line: underline;
  text-underline-position: below;
}

#container {
  height: 250px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-columns: repeat(10, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cl {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  /* background-image: url(bg.png);
  background-size: cover; */
  background-color: burlywood;
}

#container {
  height: 250px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-columns: repeat(10, 50px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cl {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  background-color: burlywood;
  border-radius: 5px;
}

#green {
  background-color: chartreuse;
  color: white;
  font-size: 18px;
}
#red {
  background-color: rgb(240, 23, 23);
  color: white;
  font-size: 18px;
}
